.sk-spinner{
    display: none;
    position: absolute;
    top: 175px;
    left: 38%;
}
#wrong{
    display: none;
}
.logo-img{
    height: 154px;
    position: absolute;
    top: 5%;
    right: 82%;
}