.sk-spinner{
    display: none;
    position: absolute;
    bottom: 264px;
    left: 39%;
}
#wrong{
    display: none;
}
.logo-img{
    height: 154px;
    position: absolute;
    top: 4%;
    right: 82%;
}